[submodule "kc705"]
	path = board/kc705
	url = https://github.com/lowRISC/lowrisc-kc705.git
[submodule "board/nexys4_video"]
	path = board/nexys4_video
	url = https://github.com/lowRISC/lowrisc-nexys4-video.git
[submodule "board/zed"]
	path = board/zed
	url = https://github.com/furkanturan/lowrisc-zed.git
