[submodule "kc705"]
	path = board/kc705
	url = https://github.com/lowRISC/lowrisc-kc705.git
[submodule "nexys4"]
	path = board/nexys4_ddr
	url = https://github.com/lowRISC/lowrisc-nexys4.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/lowRISC/lowrisc-bbl.git
[submodule "board/nexys4_video"]
	path = board/nexys4_video
	url = https://github.com/lowRISC/lowrisc-nexys4-video.git
[submodule "board/zed"]
	path = board/zed
	url = https://github.com/furkanturan/lowrisc-zed.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/lowRISC/micropython.git
[submodule "board/artya7"]
	path = board/artya7
	url = https://github.com/lowRISC/lowrisc-artya7.git
