[submodule "nexys4"]
	path = board/nexys4_ddr
	url = https://github.com/lowRISC/lowrisc-nexys4.git
[submodule "board/genesys2"]
	path = board/genesys2
	url = https://github.com/lowRISC/lowrisc-genesys2.git
